.footerWrapper {
  width: 100%;
  position: relative;
  z-index: 8;
  .footerTopBar{
    background: linear-gradient(to right, #3b4466, #3b4466 55%, #595bd4 55%, #595bd4 100%);
    @media screen and (max-width: 600px){
      background: #3b4466;
    }
    width: 100%;
    .container{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 600px){
        flex-wrap: wrap;
        margin: 0 15px;
      }
      .contactsContainer{
        padding: 27px 0;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 1300px){
          flex-wrap: wrap;
          margin: 0 20px;
        }
        .contactsItem{
          color: #fff;
          display: flex;
          flex-direction: row;
          margin: 15px 50px 15px 0;
          >img{
            width: 35px;
            height: 35px;
            margin-right: 22px;
          }
          >div{
            display: flex;
            flex-direction: column;
            >h6{
              margin: 0 0 10px;
              font-size: 16px;
              line-height: 18px;
              font-weight: 500;
              white-space: nowrap;
            }
            >p{
              font-size: 18px;
              line-height: 1.1;
              font-weight: 300;
              white-space: nowrap;
            }
          }
        }
      }
      .subscribeForm{
        margin-left: 120px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 27px 0;
        @media screen and (max-width: 1300px){
          flex-wrap: wrap;
          justify-content: flex-start;
          width: 80%;
          margin-left: 0;
          max-width: 350px;
        }
        >input{
          padding: 13px 20px;
          min-width: 400px;
          background-color: #fff;
          height: auto;
          font-size: 15px;
          color: #000;
          box-shadow: none !important;
          border: 0;
          border-radius: 22px;
          @media screen and (max-width: 600px){
            width: 100%;
            margin-bottom: 20px;
            min-width: 0;
          }
        }
        >button{
          margin-left: 16px;
          position: relative;
          padding: 13px 20px;
          min-width: 148px;
          border: 1px solid #fff;
          background-color: #595bd4;
          color: #fff;
          border-radius: 22px;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          transition: all .15s ease-in-out;
          @media screen and (max-width: 600px){
            background-color: #3b4466;
            margin-left: 0;
            width: 100%;
          }
          &:hover{
            background-color: #212529;
            border: 1px solid #212529;
          }
        }
      }
    }
   
  }
// @media screen and (min-width: 1024px){
//   .footerWrapper{
//     padding-left: 329px;
//     height: 243px;
//     border-top: 1px solid #d7dade;
//     article{
//       display: flex;
//     }
//   }
// }
// @media screen and (min-width: 1350px){
//   .footerWrapper{
//     display: none;
//     padding-right: 256px;
//   }
// }
// @media screen and (min-width:1400px){
//   .footerWrapper{
//     display: block;
//     padding-right: 340px;
//   }
}

