.resetPassword {
  padding-top:80px;

  &>h1 {
    line-height: 17px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
  }

  &>p {
    margin: 0 auto;
    display: block;
    font-weight: 300;
    line-height: 17px;
    font-size: 12px;
    max-width: 320px;
    margin-bottom: 43px;
  }

  &>span {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 197px;
    max-width: 320px;
  }
}
@media screen and (min-width:1024px){
  .resetPassword{
    padding-top: 100px;
  }
}
