.SampleBlock {
  text-align: left;

  &-item {
    padding: 16px 0 21px 0;
    //border-bottom: 1px rgba(168, 182, 200, 0.5) solid;

    &>span {
      font-size: 14px;
      color: #323B45;
      margin-bottom: 18px;
    }
  }

  &-desc {
    width: 100%;
    padding: 14px 5px 0 11px;
    display: block;
    margin: 19px 0;
    min-width: 310px;
    height: 125px;
    background: #F2F4F7;
    border-radius: 8px;
    border: none;
    font-weight: 300;
    line-height: 18px;
    font-size: 12px;
    resize: none;

    color: #7E848B;
  }
}

@media screen and (min-width: 780px) {
  .SampleBlock {
    margin: 0 20px;

    &-desc {
      margin-left: 0px;
      width: 513px;
      height: 113px;
    }

    &-itemChose {
      width: 513px;
    }

    &-item {
      padding: 4px 0 18px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      &>span {
        margin-top: 15px;
      }

    }

  }
}
