.button{
    min-width: 140px;
    background-color: #31ac26;
    border-color: #31ac26;
    color: #fff;
    padding: 13px 25px;
    border-radius: 22px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
    &:hover{
        background-color: #343a40;
        color: #fff;
    }
}