.productContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .prodItem{
        padding: 0 0 30px;
        border: 1px solid #f2f2f2;
        position: relative;
        max-width: 300px;
        transition: all .3s ease;
        .sale{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 27px;
            background-color: #2659cf;
            color: #fff;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            z-index: 90;
        }
        .outOf{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 17px;
            color: #fff;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            z-index: 90;
            background-color: #d8d8e1;
        }
        .info{
            padding: 0 15px;
        }
        .brend{
            margin: 15px 0 8px;
            font-size: 13px;
            color: #6a6a6a;
            font-style: italic; 
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 13px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 15px;
            font-weight: 700;
        }
        .prevPrise{
            font-size: 13px;
            color: #bdbdbd;
            margin-right: 8px;
            text-decoration: line-through;
        }
        .imgCont{
            position: relative;
            transition: opacity 3s ease;
            .img, .imgTwo{
                max-width: 100%;
                transition: opacity .3s ease;
            }
            .imgTwo{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        &:hover .img{
            opacity: 0;
        }
        &:hover .imgTwo{
            opacity: 1;
        }
        &:hover .icons{
            visibility: visible;
        }
        .icons{
            font-size: 20px;
            color: #fff;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            right: -1px;
            top: 35px;
            padding: 10px 8px 6px;
            text-align: center;
            background-color: rgba(89,91,212,1);
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            visibility: hidden;
            transition: .3s ease;
            z-index: 99999;
            svg{
                margin-bottom: 10px;
                &:nth-child(1){
                    margin-left: -4px;
                }
                &:nth-child(4){
                    margin-bottom: 0;
                }
            }
        }
    }
    //styles for product type of lastChance
    .prodItemLast{
        width: 342px;
        margin-right: 15px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-right: 1px solid #f2f2f2;
        transition: all .3s ease;
        .sale{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 27px;
            background-color: #2659cf;
            color: #fff;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            z-index: 90;
        }
        .outOf{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 17px;
            color: #fff;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            z-index: 90;
            background-color: #d8d8e1;
        }
        .info{
            padding: 0 15px;
            flex: 0 0 60%;
        }
        .brend{
            margin-bottom:8px;
            font-size: 13px;
            color: #6a6a6a;
            font-style: italic; 
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 13px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 15px;
            font-weight: 700;
        }
        .prevPrise{
            font-size: 13px;
            color: #bdbdbd;
            margin-right: 8px;
            text-decoration: line-through;
        }
        .imgCont{
            position: relative;
            transition: opacity 3s ease;
            .timer{
                display: none;
            }
            .img, .imgTwo{
                max-width: 100%;
                transition: opacity .3s ease;
            }
            .imgTwo{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        &:hover .img{
            opacity: 0;
        }
        &:hover .imgTwo{
            opacity: 1;
        }
        &:hover .icons{
            visibility: visible;
        }
        .icons{
            font-size: 20px;
            color: #fff;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            right: -1px;
            top: 28px;
            padding: 10px 8px 6px;
            text-align: center;
            background-color: rgba(89,91,212,1);
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            visibility: hidden;
            transition: .3s ease;
            z-index: 99999;
            svg{
                margin-bottom: 10px;
                &:nth-child(1){
                    margin-left: -4px;
                }
                &:nth-child(4){
                    margin-bottom: 0;
                }
            }
        }
    }
}