@mixin hiddenIcons {
    .icons{
        font-size: 20px;
        color: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: -1px;
        top: 35px;
        padding: 10px 8px 6px;
        text-align: center;
        background-color: rgba(89,91,212,1);
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        visibility: hidden;
        transition: .3s ease;
        z-index: 99999;
        svg{
            margin-bottom: 10px;
            &:nth-child(1){
                margin-left: -4px;
            }
            &:nth-child(4){
                margin-bottom: 0;
            }
        }
    }
    &:hover .icons{
        visibility: visible;
    }
}
@mixin saleGeneral($padding: 7px) {
    .sale{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 $padding;
        background-color: #2659cf;
        color: #fff;
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 90;
    }
}
@mixin outOf($color: #fff, $bg: #d8d8e1) {
    .outOf{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 7px;
        color: $color;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        z-index: 90;
        background-color: $bg;
    }
}
@mixin imgStyle {
    .imgCont{
        position: relative;
        transition: opacity 3s ease;
        .img, .imgTwo{
            max-width: 100%;
            transition: opacity .3s ease;
        }
        .imgTwo{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
    &:hover .img{
        opacity: 0;
    }
    &:hover .imgTwo{
        opacity: 1;
    }
    
}
@mixin hideTimer {
    .imgCont{
        position: relative;
        transition: opacity 3s ease;
        .img, .imgTwo{
            max-width: 100%;
            transition: opacity .3s ease;
        }
        .imgTwo{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .timer{
            display: none;
        }
    }
    &:hover .img{
        opacity: 0;
    }
    &:hover .imgTwo{
        opacity: 1;
    }
}

    .prodItem{
        padding: 0 0 30px;
        border: 1px solid #f2f2f2;
        position: relative;
        max-width: 300px;
        transition: all .3s ease;
        @include saleGeneral();
        @include outOf();
        .info{
            padding: 0 15px;
        }
        .brend{
            margin: 15px 0 8px;
            font-size: 13px;
            color: #6a6a6a;
            font-style: italic; 
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 13px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 15px;
            font-weight: 700;
        }
        .prevPrise{
            font-size: 13px;
            color: #bdbdbd;
            margin-right: 8px;
            text-decoration: line-through;
        }
        @include imgStyle();
        @include hiddenIcons();
    }
    //styles for product type of lastChance
    .prodItemLast{
        margin-right: 15px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-right: 1px solid #f2f2f2;
        transition: all .3s ease;
        @include saleGeneral();
        @include outOf(#fff, #2659cf);
        .info{
            padding: 0 15px;
            flex: 0 0 60%;
        }
        .brend{
            margin-bottom:8px;
            font-size: 13px;
            color: #6a6a6a;
            font-style: italic; 
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 13px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 15px;
            font-weight: 700;
        }
        .prevPrise{
            font-size: 13px;
            color: #bdbdbd;
            margin-right: 8px;
            text-decoration: line-through;
        }
       
        @include hideTimer();
        @include hiddenIcons();
    }
    //styles for prodItem bestsellers
    .prodItemBestSec{
        display: flex;
        flex-wrap: nowrap;
        flex: 0 0 49%;
        border: 1px solid #f2f2f2;
        position: relative;
        background: #fff;
        justify-content: space-between;
        margin: 0 15px 15px 0;
        align-items: center;
        max-width: 482px;
        transition: all .3s ease;
        @include saleGeneral(27px);
        @include outOf();
        .info{
            width: 50%;
            padding-left: 15px;
            div{
                border-top: none;
                box-shadow: none;
            }
        }
        .brend{
            display: none;
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 80px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 18px;
            font-weight: 700;
        }
        .prevPrise{
            display: inline-block;
            font-size: 15px;
            color: #bdbdbd;
            margin-top: 15px;
            margin-right: 8px;
            text-decoration: line-through;
        }
        
        @include hideTimer();
        
        @include hiddenIcons();
    }
    .prodItemBestMain{
        padding: 0 0 30px;
        border: 1px solid #f2f2f2;
        background-color: #fff;
        margin: 0 5px 0 0px;
        position: relative;
        max-width: 300px;
        transition: all .3s ease;
        @include saleGeneral(27px);
        @include outOf(#fff, #2659cf);
        .info{
            margin-top: 20px;
            padding: 0 15px;
        }
        .brend{
            display: none;
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 13px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 18px;
            font-weight: 700;
        }
        .prevPrise{
            font-size: 13px;
            color: #bdbdbd;
            margin-right: 8px;
            text-decoration: line-through;
        }
        
            @include hideTimer();
        
        @include hiddenIcons();
    }
    // styles for slidar
    .prodItemSlider{
        position: relative;
        transition: all .3s ease;
        @include saleGeneral();
        @include outOf();
        .info{
            padding: 0 15px;
            text-align: center;
            div{
                border-top: none;
                box-shadow: none;
            }
        }
        .brend{
            display: none;
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin: 0 0 80px 0;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 22px;
            font-weight: 700;
        }
        .prevPrise{
            display: inline-block;
            font-size: 15px;
            color: #bdbdbd;
            margin: 30px 8px 20px 0;
            text-decoration: line-through;
        }
        @include hideTimer();
        @include hiddenIcons();
    }
    // styles for prod item latestProd
    .latestProd{
        padding: 0 0 30px;
        border: 1px solid #f2f2f2;
        position: relative;
        max-width: 300px;
        min-width: 150px;
        margin: 0 5px;
        transition: all .3s ease;
        @include saleGeneral();
        @include outOf();
        .info{
            padding: 0 15px;
        }
        .brend{
            margin: 15px 0 8px;
            font-size: 13px;
            color: #6a6a6a;
            font-style: italic; 
        }
        .name{
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            margin-bottom: 13px;
            font-weight: 600;
        }
        .prise{
            color: rgba(89,91,212,1);
            font-size: 15px;
            font-weight: 700;
        }
        .prevPrise{
            font-size: 13px;
            color: #bdbdbd;
            margin-right: 8px;
            text-decoration: line-through;
        }
        @include imgStyle();
        @include hiddenIcons();
    }