.bestsellersCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    .sliderContainer{
        width: 20%;
    }
    .itemsContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        .long{
            display: flex;
            flex-wrap: nowrap;
        }
    }
}