.wrapperHeader {
  position: relative;
  padding: 0 20px 20px 20px;
  height: 56px;
  color: black;
  display: flex;
  justify-content: space-between;
  background: white;
  z-index: 2;

  a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.lable {
  margin-left: 32px;
  margin-top: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
  letter-spacing: -0.7px;

  color: #323B45;

  &>span {
    color: #fa2a00
  }
}

.logoWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 300;
  color: #323B45;

  >h3{
    position: absolute;
    width: 142px;
    top: 30px;
    margin: 0;
    left: 45px;
    color: #323B45;
    font-size: 16px;
    font-weight: 300;
  }
}

.arrow {
  margin-left: 5px;
  height: 30%;
  width: 18px;
  margin-top: 17px;
}

.wrapperAuth {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.logo {
  width: 28px;
  height: 28px;
}

.locationDesc {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -105px;
  width: 200px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  padding-top: 7px;
  padding-left: 38px;
  text-align: center;
  color: #323b45;
}

.wrapperHeaderDevice {
  position: absolute;
  width: 100%;
  padding: 10px 0 0 15px;
  z-index: 10;
  top: 0;
  //background-image: linear-gradient(to top, rgba(96, 94, 94, 0), rgba(56, 54, 54, 0.64))
}

.favorite {
  cursor: pointer;
  top: 7px;
  width: 27px;
  height: 27px;
  position: absolute;
  right: 15px;
}
.desk{
  display: none;
  padding-top: 20px;
  >div{
    >p{
      display: flex;
      align-items: center;
      color: #5C6979;
      font-weight: 300;
      cursor: pointer;
      margin-top: 0;
      img{
        margin-right: 10px;
      }
    }
    >h3{
      text-align: center;
      color: #323B45;
      font-size: 20px;
      font-weight: 300;
    }
  }
}
@media screen and (min-width: 1024px) {
  .wrapperHeaderDevice {
    background-image: none
  }
  .desk{
    display: block;
    padding-left: 329px;
    div{
      width: 670px;
      margin: 0 auto;
    }
  }
  .logoWrapper {
    display: none;
  }
  .wrapperHeader{
    >img {
      display: none;
    }
  }
}

.search {
  display: block;
  float: right;
  margin-top: 10px;
  margin-left: auto
}

@media screen and (min-width: 1140px){
  .favorite {
    display: none;
  }
}
@media screen and (min-width: 1350px){
  .desk{
    padding-right: 256px;
  }
}
@media screen and (min-width: 1400px){
  .desk{
    padding-right: 340px;
  }
}

.container{
  margin: 0 10px;
}
.site-header{
  color: #6c757d;
  font-size: 13px;
  
}
.top-bar{
  padding: 8px 80px;
  border-bottom: 1px solid #6c757d;
}
.list{
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;
}
.list> li{
  list-style: none;
  margin-left: 20px;
  a{
    color: #6c757d;
  }
}
.header_socials{
  font-size: 13px;
  a{
    color: #6c757d;
    margin-right: 15px;
  }
}
.hot-title{
  >h5{font-weight: 400;}
}
.main{
  padding: 40px 0;
}