@import "../../../assets/globalCss/styles";
.NotFound {
  font-family: Roboto;

  h6 {
    font-size: 18px;
    font-weight: 300;
    line-height: 2.56;
    text-align: center;
    color: #373a3c;
  }

  &-content {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    > span {
      margin-top: 30px;
      font-size: 100px;
      color: $red;
    }

    > div {
      padding-top: 10px;
      width: 70px;
      height: 70px;
      background-color: #ffffff;
      box-shadow: 0 0 5px 0 #a8b6c8;
      border-radius: 50%;
    }
  }

  p {
    max-width: 260px;
    margin: 34px auto 0 auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    color: #566978;
  }
}
