.greyCont{
    background: rgba(247,249,250,1);
    padding-bottom: 10px;
}
.contentContainer{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    @media screen and (max-width: 600px) {
        padding: 0 15px;
    }
}
.homeCont{
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(247,249,250,1);
    @media screen and (max-width: 600px) {
       display: none;
    }
    .homeTitle{
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        >div{
            max-width: 500px;
            padding: 67px 100px 97px 0;
            z-index: 1000;
            >h4{
                font-size: 24px;
                color: rgb(90, 87, 87)
            }
            >h2{
                font-size: 50px;
                color: rgb(50, 50, 58);
            }
            p{
                font-size: 16px;
                line-height: 30px;
                color: rgb(120, 120, 120);
            }
        }
    }
    .imgPhone {
        position: absolute;
        width: 1100px;
        overflow: hidden;
        top: -250px;
        left: 70px;
    }
}
.homeTitleMobile{
    display: none;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    @media screen and (max-width: 600px) {
        display: block;
        background: rgba(243,243,243,1);
        >div{
            max-width: 500px;
            padding: 67px 100px 97px 0;
            z-index: 1000;
            >h4{
                font-size: 24px;
                color: rgb(90, 87, 87)
            }
            >h2{
                font-size: 50px;
                color: rgb(50, 50, 58);
            }
            p{
                font-size: 16px;
                line-height: 30px;
                color: rgb(120, 120, 120);
            }
        }
     }
}

.containerForBaners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >div{
        width: 49%;
    }
    @media screen and (max-width: 400px){
        flex-wrap: wrap;
        >div{
            width: 100%;
        }
    }
}
.logoSponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px 0;
    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
    }
}