.HotDeals{
    >h4{
        font-size: 35px;
        margin: 35px 0;
    }
    .HotDealscontent{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @media screen and (max-width: 600px){
            flex-wrap: wrap;
            justify-content: center;
        }
        >ul{
            display: flex;
            flex-direction: column;
            width: 15%;
            padding: 5px 0 30px;
            margin-right: 15px;
            border-right: 1px solid #f6f6f6;
            @media screen and (max-width: 600px){
                width: 100%;
                margin-right: 0;
            }
            >li{
                display: flex;
                justify-content: flex-end;
                flex-wrap: nowrap;
                align-items: center;
                position: relative;
                padding: 7px 20px 7px 5px;
                text-align: right;
                cursor: pointer;
                >a{
                    line-height: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #373737;
                    >svg{
                        font-size: 16px;
                        color: #373737;
                        margin-left: 30px;
                    }

                }
                &:nth-child(4) a{
                    margin-right: 5px;
                }
                .hotActive{
                    color: rgba(89,91,212,1);
                    >svg{
                        color: rgba(89,91,212,1);
                    }
                    &:after{
                        content: '';
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: rgba(89,91,212,1);
                    }
                }
            }
        }
        .HotDealsItemContainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}

