.title{
    margin: 35px 0 30px;
}
.title >h3{
    font-size: 25px;
}
.nextArrowCont{
    position: absolute;
    top: -45px;
    right: 5px;
}
.prevArrowCont{
    position: absolute;
    top: -45px;
    right: 45px;
}
.nextArrow{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 33px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: .3s ease;
}
.nextArrow:after{
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #b8b8b8;
    border-top: 0;
    border-right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(-135deg);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.prevArrow{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 33px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: .3s ease;
}
.prevArrow:after{
    content: '';
    position: absolute;
    top: 11px;
    left: 15px;
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #b8b8b8;
    border-top: 0;
    border-right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .3s ease;
}