.chanseCont{
    padding-bottom: 40px;
    h4{
        font-size: 25px;
        font-weight: 400;
        margin: 30px 0!important;
    }
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        >div:nth-child(4) {
            margin-right: 0;
        }
        }
}