
.expressOrder {
  position: relative;
  text-align: center;
  width: 325px;
  border-radius: 8px;
  background: white;
  padding: 20px;
  padding-top: 25px;
  margin: 0 auto;
  margin-top: 180px;
  transition: margin-top 0.3s;

  >.closeImg{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }

  .contentWrapper{

    >h3{
      margin: 0;
      margin-bottom: 18px;
      font-size: 18px;
      color: #323B45;
      font-weight: 500;
    }

    >p{
      color: #323B45;
      font-weight: 300;
      font-size: 13px;
    }

    >img{
      display: none;
    }
  }

  .inputsWrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >div:nth-child(1){
      width: 100% !important;
      margin-bottom: 30px;

      >div{
        padding-left: 10px;
        padding-right: 10px;
        background: #F2F4F7 !important;
        border-radius: 8px;
        height: 40px !important;
        overflow:  hidden !important;
        margin-bottom: 0 !important;
        input>{
          font-size: 16px !important;
        }
      }
    }

    >button{
      -webkit-appearance: none;
      outline: none;
      border: none;
      border-radius: 8px;
      width: 123px;
      height: 40px;
      color: white;
      background: #FA2A00;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
.marginTop {
  margin-top: 20px;
}
@media screen and (min-width: 1024px){
  .expressOrder{
    width: 554px;
    padding-bottom: 40px;

    >.closeImg{
      top: 20px;
      right: 20px;
      opacity: 0.5;
    }

    .contentWrapper{
      >h3{
        margin-bottom: 0;
      }

      >p{
        font-size: 18px;
        font-weight: 500;
      }

      >img{
        display: inline-block;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 35px;
      }
    }

    .inputsWrapper{
      width: 425px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      >div:nth-child(1){
        width: 240px !important;
        margin-bottom: 0 !important;
      }

      >button{
        margin-left: 10px;
        width: 175px;
      }
    }
  }
}
