.baner{
    margin-bottom: 30px;
    padding-top: 60px;
    padding-bottom: 67px;
    padding-left: 70px;
    @media screen and (max-width: 600px){
        background-position: top left!important;
        padding: 20px;
    }
    
    >h4{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        @media screen and (max-width: 600px){
            margin-bottom: 15px;
            font-size: 20px;
        }
    }
    >p{
        font-size: 18px;
        line-height: 1.70;
        color: rgb(68, 68, 68);
        max-width: 350px;
        margin-bottom: 36px;
        @media screen and (max-width: 600px){
            font-size: 15px;
        }
    }
}